body {
  background-color: rgb(134, 193, 134) 
  /* background-image: url('images/many_currencies.jpeg'); */
  }

img {
  text-align: center;
  border-radius: 100px 20px 30px 5px;
  background: #73AD21;
  padding: 20px;
  width: 1000px;
  height: 550px;
  margin-top: 50px;
  margin-bottom: 20px;
  margin-left: 75px;
}



@keyframes example {
  from {background-color: rgb(167, 151, 167);}
  to {background-color: rgb(56, 166, 196);}
  
}

body {
  width: 600px;
  height: 100px;
  background-color: rgb(147, 220, 177);
  animation-name: example;
  animation-duration: 6s;
}

h1 {
  text-align: center;
  width: 100%;
  border: 25px solid green;
  padding: 10px;
  text-align: center;
  font-family: 'Bowlby One SC', cursive;
  font-size: 2vw;
  margin-left: 75px;
}
form {
  margin-left: 75px;
  width: 100%;
  border: 25px solid green;
  padding: 10px
  
}

label {
  font-family: 'Bowlby One SC', cursive;
  margin-left: 75px;
}


